
.gallery {
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .gallery__item{
    scroll-snap-align: center;
    min-width: 100%;
  }
  .gaallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  